---
layout: default
css-include: /css/main.css
sorted: 1
---

<section id="kHeader" class="carousel">
    <div class="carousel-item active">
        <div class="carousel-item-content pl-4 pr-4">
            <div class="slide-background" style="background-image: url(assets/img/konsolefancy.png)"></div>
            <div class="carousel-text-overlay">
                <h1>Konsole</h1>
                <p>A powerful and customizable terminal emulator.</p>
            </div>
        </div>
    </div>
</section>

<main aria-label="Content" id="content" class="container">
    <h1>Konsole - KDE's Terminal Emulator</h1>

    <pre class="konsole mt-2">
<span class="konsole-red">[konqi@kde ~]$</span> cd $HOME
<span class="konsole-red">[konqi@kde ~]$</span> echo "Welcome home"
Welcome home
<span class="konsole-red">[konqi@kde ~]$</span> echo "Konsole is KDE's Terminal Emulator"
Konsole is KDE's Terminal Emulator
<span class="konsole-red">[konqi@kde ~]$</span> cat konsole_features.txt
* Multiple tabs support
* Multiple profiles support
* Silence and Activity monitoring
* Bookmark support
* Searching
* Saving output
* Multiple splits in any tab
    </pre>

    <h2>Screenshots</h2>

    <div class="text-center">
        <figure class="mt-4">
            <img class="img-fluid" src="assets/img/konsole-20.08a.png" alt="Screenshot Konsole with features of 20.08 release" />
            <figcaption>Some of Konsole's new features in 20.08 release.</figcaption>
        </figure>

    </div>

    <p>Konsole is also integrated into multiple other KDE Applications making it easier to reach and more convenient. For example, KDevelop, Kate and Dolphin all use Konsole as an integrated terminal emulator.</p>

    <div class="text-center">
        <figure class="mt-4">
            <img class="img-fluid" src="assets/img/konsoledolphin.png" alt="Screenshot Dolphin with Konsole" />
            <figcaption>Dolphin using the integrate Konsole widget.</figcaption>
        </figure>

    </div>
</main>
